/* Mobile tweaks */

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


/* Main */

html {
  background-color: #eee;
}

body {

  z-index: 100;

  min-width: 280px;
  max-width: 320px;

  margin: 0 auto;
  padding: 0;

  background-color: #fff;

  font-family: "Gesta", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4em;

  -webkit-text-size-adjust: 100%;

}

a { color: #000; }


/* Loading */

#loading {
  display: none;
  color: #333;
  background-color: #f1b752;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
}

#loading p {
  margin: 0;
  padding: 0.25em 0.5em;
}

.loading #loading {
  display: block;
}


/* Header */

#header {
  z-index: 200;
}

#masthead {
  background-color: #fff;
}

#masthead h1 {
  margin: 0;
  padding: 0;
}

#home {
  display: inline-block;
  width: 100%;
  height: 40px;
  background-image: url("/img/ui/header.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 216px 30px;
}

/* Search (header floats right to accommodate this) */

form, fieldset {
  display: none;
  margin: 0;
  padding: 0;
}

fieldset {
  margin-top: 5px;
  padding: 0 3px 0 8px;
  border: none;
}

#terms {
  width: 100%;
  padding: 2px 0;
  font-size: 13px;
  text-indent: 25px;
  border: none;
  border-radius: 3px;
}

#terms:-ms-input-placeholder { text-indent: 24px; }
#terms:-moz-placeholder { text-indent: 24px; }
#terms::-moz-placeholder { text-indent: 24px; }
#terms::-webkit-input-placeholder { text-indent: 24px; }


/* Main navigation (tabs) */

#nav {
  display: block;
  width: 100%;
  background-color: #fff;
}

#tabs {
  min-width: 300px;
  max-width: 340px;
  margin: 0 auto;
  padding: 5px 0 3px 0;
}

#tabs li {
  width: 25%;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Different widths for some tabs */

#tabs li:nth-child(1) {
  width: 30%;
}

#tabs li:nth-child(2) {
  width: 26%;
}

#tabs li:nth-child(3) {
  width: 22%;
}

#tabs li:nth-child(4) {
  width: 22%;
}

#tabs a {
  display: block;
  margin: 0 5px 0 0;
  padding: 8px 0 2px 0;
  color: #697580;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  border: solid 1px #cdd2d6;
  border-radius: 5px;
}

#tabs li:first-child a {
  margin-left: 5px;
}

#tabs .here a {
  color: #fff;
  background-color: #46752c;
  border-color: #46752c;
}


/* Add icons on home page */

#tabs [class^="icon-"]:before, #tabs [class*=" icon-"]:before {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 125%;
  text-align: center;
}


/* Home page actions */

#actions {
  display: none;
}

.home #actions {
  display: block;
}


/* Last updated date */

#notice {
  display: none;
}

#notice p {
  margin: 0;
  padding: 10px 12px 8px 12px;
  color: #bbb;
  font-size: 13px;
  line-height: 18px;
}

.info.menu #notice {
  display: block;
}


/* Lists */

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.head, .menu-head, .filter-head {
  padding: 0.5em 12px 0.25em 0.75em;
  color: #467f2e;
  background-color: #fff;
  border-bottom: solid 1px #467f2e;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.head, .text-head, .filter-head, .program .subhead {
  cursor: pointer;
}

.subhead {
  padding: 0.4em 0.75em 0.2em 0.85em;
  color: #fff;
  font-size: 0.9em;
  background-color: #467f2e;
  border-bottom: solid 1px #265f0e;
}

.list a {
  display: block;
  z-index: 250;
  margin: 0 12px;
  padding: 0.8em 0;
  color: #333;
  text-decoration: none;
  border-bottom: solid 1px #eee;
  background-repeat: no-repeat;
  background-position: 98% center;
}

.list .options {
  padding-right: 4em;
  color: #666;
}

.list b {
  display: block;
  margin-right: 4%;
  font-size: 1.1em;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list span {
  display: block;
  margin: 0.2em 4% 0 0;
  color: #697580;
  font-style: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.collapsed li {
  display: none;
}

.collapsed li.head, .collapsed li.filter-head, .collapsed li.subhead {
  display: block;
}

.collapsed .subhead {
  position: static;
  display: block;
}

.list [class^="icon-"]:before, #tabs [class*=" icon-"]:before {
  color: #697580;
}


/* Filters */

.filters {
  padding-bottom: 0.1em;
}

.filters a {
  background-image: none;
  padding: 0.75em 12px;
}

.filters .active {
  font-weight: 600;
}

.filters .subhead {
  background-image: none;
}

.filters .button {
  display: block;
  margin: 1em;
  padding: 0.75em;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border: solid 1px #999;
  border-radius: 0.5em;
  cursor: pointer;
}


/* Text */

.text-head {
  min-height: 21px;
  margin: 0;
  padding: 0.5em 1.6em 0.25em 0.75em;
  color: #467f2e;
  font-size: 1em;
  font-weight: 400;
  background-color: #fff;
  border-bottom: solid 1px #467f2e;
}

.text {
  padding: 1em 1em 1em 0.75em;
}

.text h3 {
  margin: 0.25em 0 0 0;
  padding: 0;
  color: #000;
  font-size: 1.25em;
  line-height: 1.25em;
}

.text h4 {
  margin: 1em 0 0.5em 0;
  padding: 0;
  color: #444;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25em;
}

.text p {
  padding: 0;
}

.text li {
  list-style-type: none;
  margin: 0 0 0.25em 0;
  padding: 0 1.5em;
}


/* Errors */

.error p {
  margin: 0;
  padding: 3em 2em;
  font-weight: 600;
  text-align: center;
}


/* Miscellaneous */

.force-wrap {
  word-wrap: break-word;
}


/* Sticky and fixed */

#header {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 280px;
  max-width: 320px;
  margin: 0 auto;
}

#app {
  margin-top: 95px;
  background-color: #fff;
}

.head, .text-head, .subhead {
  top: 95px;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
}

.searchFocus #header {
  position: absolute;
}

.searchFocus .head,
.searchFocus .text-head,
.searchFocus .subhead {
  position: static;
}


/* OFF by default */

.hidden { display: none; }


/* Tablet-y */

@media only screen and (max-width: 770px) {}



/* Maximum content width */

@media only screen and (max-width: 500px) {

  html {
    background-color: #fff;
  }

}


/* Phone-y */

@media only screen and (max-width: 400px) {

  .session {
    padding-bottom: 48px;
  }

  .filters .button {
    margin: 0;
    color: #fff;
    background-color: #666;
    border: none;
    border-radius: 0;
  }

}
